@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

.wrapper {
    background: linear-gradient(to right, #b3e1cd, #85b2fb);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
}

.top-1 {
    padding: 10px 30px;
}

.top-1 button {
    width: 50px;
    height: 50px;
    background: #004aad;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.bottom-1 {
    background-color: #004aad;
    padding: 30px 50px;
}

.info-author {
    display: flex;
    gap: 10px;
    color: #fff;
    align-items: center;
}

.info-author img {
    width: 100px;
    height: 100px;
}

.info-author h1 {
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    padding-top: 20px;
}

.content p {
    line-height: 1.7;
    text-align: justify;
    font-weight: 700;
    font-size: 20px;
}

.top-1 a {
    text-decoration: none;
}
